<!--/ Nav Star /-->
  <nav class="navbar navbar-b  navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">Matrimony</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll" href="/user/about">About</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Reach Us</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
<!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(/images/ww.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
<div class="col-md-12">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                   Event Management
                    </h5>
                  </div>
                  <p class="lead">
                   One of the most fashionable services on the web is matrimonial profile posting and partner search websites.
                    If you are an existing matrimony/marriage bureau or planning to start up a full fledged Matrimony Website, 
                    it has become essential that you provide COMPLETE functionalities on your website. 
                   This is your chance to provide these services to the vast audience of match-seekers and make a difference.
                  </p>
                     <p class="lead">
                   This is a very powerful online matrimony management package system that we've developed exclusively and user
                    friendly. As anybody, Our product has grown over time and with valuable inputs from the Matrimony
                     Industry Experts, we have packaged the maximum features. User will be able to search, update, add/remove,
                      and their profiles from database.
                    In addition, user can also add/delete/change descriptions, upload images/photos.
                    </p>
                    <p class="lead">
                    We are continuously researching new technologies and recommend them when they make sense. We make 
                    efforts to offer the best solution for your business and advice at an honest price. As one of the leading
                     matrimonial script development company in India, we have maintained a strong team of PHP Developers with us,
                     who work in synchronized manner to provide you the perfect Matrimonial Script Software at a reasonable cost.
                  </p>
                   
                 </div>
              </div>

              </div>

          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->