
 <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">Matrimony</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/user/response">Responses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/user/match">MyAccount</a>
          </li>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false"> Search 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          
          <a class="dropdown-item" href="/user/smart">Smart</a>
          <a class="dropdown-item" href="/user/occupational">Occupatioanl</a>
         <a class="dropdown-item" href="/user/educational">Educational</a>
          <a class="dropdown-item" href="/user/location">Location</a>

        </div>
      </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/">Logout</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
<!--/ Intro Skew Star /-->
   <div class="intro intro-single route bg-image" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">LATEST BRIDES & GROOMS</h2>
        </div>
      </div>
    </div>
  </div>
  
  <!--/ Intro Skew End /-->

 
  <!--/ Section Services Star /-->

 <section id="service" class="services-mf route">
    <div class="container">
     
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="card" style="width: 18rem;">
                <img src="/images/d.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Krishna Kishor</h5>
                  <p class="card-text">Age: 21<br>
                      Female</p>
                  <a href="/user/pprofile" class="btn btn-primary">View</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="card" style="width: 18rem;">
                <img src="/images/s.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Christena</h5>
                  <p class="card-text">Age: 25<br>
                       Female</p>
                  <a href="/user/pprofile" class="btn btn-primary">View</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="card" style="width: 18rem;">
                <img src="/images/q.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aleena</h5>
                  <p class="card-text">Age: 23<br>
                     Female</p>
                  <a href="/user/pprofile" class="btn btn-primary">View</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <div class="card" style="width: 18rem;">
                    <img src="/images/f.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Alexa</h5>
                      <p class="card-text">Age: 22<br>
                       Female</p>
                      <a href="/user/pprofile" class="btn btn-primary">View</a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
                <div class="card" style="width: 18rem;">
                    <img src="/images/a.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Karthika</h5>
                      <p class="card-text">Age: 24<br> 
                          Female</p>
                      <a href="/user/pprofile" class="btn btn-primary">View</a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
                <div class="card" style="width: 18rem;">
                    <img src="/images/e.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Shefi</h5>
                      <p class="card-text">Age: 26<br>
                           Female</p>
                      <a href="/user/pprofile" class="btn btn-primary">View</a>
                    </div>
                  </div>
            </div>
          </div>
       </div>
    </div>
  </section>
  <!--/ Section Services End /-->