
 <!--/ Nav Star /-->
  <nav class="navbar navbar-b  navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">Matrimony</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Home</a>
          </li>
         <li class="nav-item">
            <a class="nav-link js-scroll" href="/user/about">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Reach Us</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
<!--/ Intro Skew Star /-->
   <div class="intro intro-single route bg-image" style="background-image: url(images/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">REGISTER</h2>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
<!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="form-comments">
           {{#if hasErrors}}
           <div class="alert alert-danger">
             {{# each messages }}
             <p>{{this}}</p>
             {{/each}}
           </div>
           {{/if}}
            <form class="form-mf" action="/user/register" method="post">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Name *" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                <label for="birthday">Date of Birth : </label>
                <input type="date" id="birthday" name="birthday">
              </div>
              </div>
                <div class="col-md-12 mb-3">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Religion *" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Education *" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Location*" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Occupation *" required>
                  </div>
                </div>
                
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="email" class="form-control input-mf" id="inputEmail1" placeholder="Email *" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="password" class="form-control input-mf" id="inputPassword" placeholder="password *" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Mobile" required>
                  </div>
                </div>
               
                <div class="col-md-12">
                  <input type = "hidden" name="_csrf" value="{{ csrfToken }}">
                  <div class="button">
                    <a href="/user/uprofile" class="btn btn-primary">REGISTER</a>
                   </div>     
                             </div>
                             
              </div>
            </form>
         
          </div>
        </div>
      
        <div class="col-md-4">
          
          <div class="widget-sidebar">
            <div class="sidebar-content">
              <div class="col-sm-6 col-md-12">
                <div class="about-img">
                  <img src="/images/human.png" class="img-fluid rounded b-shadow-a" alt="">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Upload Photo</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--/ Section Blog-Single End /-->